# ##############################################################################
# GENERIC FILES TO IGNORE
# ##############################################################################

# ------------------------------------------------------------------------------
# Linux
# ------------------------------------------------------------------------------
*~
.Trash-*

# ------------------------------------------------------------------------------
# OSX
# ------------------------------------------------------------------------------
*.DS_Store
._*

# ------------------------------------------------------------------------------
# Windows
# ------------------------------------------------------------------------------
Desktop.ini
Thumbs.db

# ------------------------------------------------------------------------------
# SVN
# ------------------------------------------------------------------------------
.svn/

# ------------------------------------------------------------------------------
# Log files and databases
# ------------------------------------------------------------------------------
*.log
*.sql
*.sqlite

# ------------------------------------------------------------------------------
# CSS pre-processors
# ------------------------------------------------------------------------------
*.sass-cache*

# ------------------------------------------------------------------------------
# Packages such as Zip files
# ------------------------------------------------------------------------------
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# ------------------------------------------------------------------------------
# Node
# ------------------------------------------------------------------------------

# generic node ignores
node_modules
/dist
/build

# testing and coverage related
coverage
.nyc_output

# locks
package-lock.json
yarn.lock

# file containing environment variables such as secret api keys
# used in conjunction with dotenv package
*.env

# ------------------------------------------------------------------------------
# Misc
# ------------------------------------------------------------------------------

# ignore any file or folder that starts with double underscore
__*

# ide
.idea
